<div class="button-demo">
    <div class="button-sample">
        <button class="btn btn--primary">Give where it’s needed most</button>
    </div>
    <div class="button-sample">
        <button class="btn btn--secondary">Start a Fundraiser</button>
    </div>

    <div class="button-sample">
        <button class="btn btn--with-icon">
            Give to UCSF <i class="fa fa-heart"></i>
        </button>
    </div>

    <div class="button-sample">
        <button class="btn btn--primary--small">Give where it’s needed most</button>
    </div>

    <div class="button-sample">
        <a class="link link--with-icon">EXPLORE OTHER WAYS OF GIVING<span class="fa-stack link--icon">
                <i class="fa fa-circle fa-stack-2x icon--visible-hover icon--circle" aria-hidden="true"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon--circle" aria-hidden="true"></i>
                <i class="fa fa-angle-right fa-stack-1x icon--angle" aria-hidden="true"></i>
            </span>
        </a>
    </div>
    <div class="button-sample dark">
        <div class="wrapper wrapper--background--dark">
                <a class="link link--with-icon background--dark">EXPLORE OTHER WAYS OF GIVING<span class="fa-stack link--icon">
                    <i class="fa fa-circle fa-stack-2x icon--visible-hover icon--circle" aria-hidden="true"></i>
                    <i class="fa fa-circle-thin fa-stack-2x icon--circle" aria-hidden="true"></i>
                    <i class="fa fa-angle-right fa-stack-1x icon--angle" aria-hidden="true"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="button-sample">
        <div class="ways-to-give-option" role="button">
            <input type="radio" name="give-value" id="give_value_50" value="50" />
            <label for="give_value_50">$50</label>
        </div>
         <div class="ways-to-give-option" role="button">
            <input type="radio" name="give-value" id="give_value_100" value="100" checked="true"/>
            <label for="give_value_100">$100</label>
        </div>
    </div>
    <div class="button-sample">
        <a class="btn btn--category" href="#">ALL</a>
        <a class="btn btn--category" href="#">RESEARCH</a>
        <a class="btn btn--category" href="#">EDUCATION</a>
        <a class="btn btn--category" href="#">PATIENT CARE</a>
        <a class="btn btn--category" href="#">NEWS</a>
    </div>
</div>
