<div class="content-area">
	<div class="column-wrapper">
		<div class="column-large-12 column-medium-12 column-small-12 column-xsmall-12">
				<div class="ways-to-give-form">
					{% if give_ways_content %}

						<h3>{{ give_ways_content.full.heading }}</h3>

						{% if give_ways_content.full.body %}
							<p>{{ give_ways_content.full.body }}</p>
						{% endif %}
						<form name="ways-to-give" id="give" method="GET" action="">
							<div class="ways-to-give-options--wrapper ">
						      <div class="ways-to-give-option" role="button">
						            <input type="radio" name="give-value" id="give_value_50" value="50" />
						            <label for="give_value_50">$50</label>
						        </div>
						         <div class="ways-to-give-option" role="button">
						            <input type="radio" name="give-value" id="give_value_100" value="100" checked="true"/>
						            <label for="give_value_100">$100</label>
						        </div>
						        <div class="ways-to-give-option" role="button">
						            <input type="radio" name="give-value" id="give_value_200" value="200" />
						            <label for="give_value_200">$200</label>
						        </div>
						         <div class="ways-to-give-option" role="button">
						            <input type="radio" name="give-value" id="give_value_500" value="500" />
						            <label for="give_value_500">$500</label>
						        </div>
						        <div class="ways-to-give-option" role="button">
						            <input type="radio" name="give-value" id="give_value_other" value="other" />
						            <div class="others-dollar-label"><span>$</span> <span class="label-text">Others</span></div>
						            <input type="text" name="give-value-other" id="give_value_other_field" />
						        </div>
						        <div class="ways-to-give-option submit-btn" role="button">
						           <button class="btn btn--primary" type="submit">Give where it’s needed most</button>
						        </div>
							</div>
							<div class="submit-button-small-xsmall--medium--wrapper">
								<button class="btn btn--primary" type="submit">Give where it’s needed most</button>
							</div>
						</form>
						{% if give_ways_content.full.cta %}
						<a class="link link--with-icon" href="{{ give_ways_content.full.cta.link }}">
							{{ give_ways_content.full.cta.label }}
						 	<span class="fa-stack link--icon">
				                <i class="fa fa-circle fa-stack-2x icon--visible-hover icon--circle" aria-hidden="true"></i>
				                <i class="fa fa-circle-thin fa-stack-2x icon--circle" aria-hidden="true"></i>
				                <i class="fa fa-angle-right fa-stack-1x icon--angle" aria-hidden="true"></i>
				            </span>
				        </a>
				        {% endif %}
					{% endif %}
				</div>
		</div>
	</div>
</div>

