{% extends "@pages/_base-page.twig" %}

{% block content %}
<div class="contents--wrapper">
    <div class="content-area">
        <div class="column-wrapper">
            <div class="column-large-8 column-medium-8 column-small-12 column-xsmall-12">
                {% include "@molecules/01-text/00-section-header.twig" with {
                    "title" : title
                } %}{% include "@molecules/01-text/01-section-intro.twig" with {
                    "intro_text" : intro_text
                } %}
            </div>
        </div>
    </div>
    {% include "@molecules/05-navigation/05-category-nav.twig" %}
    {% include "@organisms/01-content-blocks/09-related-articles-large.twig" with {
        "featured_item" : featured_item,
        "items" : masonry_items
    } %}
    <div class="content-area">
        <div class="column-wrapper">
            <div class="column-large-8 column-medium-8 column-small-12 column-xsmall-12">
                {% include "@molecules/05-navigation/04-pagination.twig" with {
                    "items" : items,
                    "current" : current,
                    "ellipses" : ellipses
                } %}
            </div>
        </div>
    </div>
    {% include "@organisms/01-content-blocks/03-home-ankle.twig" %}
</div>
{% endblock %}
