{% extends "@pages/_base-page.twig" %}

{% block header %}
    {% include "@organisms/00-global/header-style-2.twig" %}
{% endblock %}

{% block content %}
    <div class="contents--wrapper">
        {% include "@molecules/02-blocks/13-landing-hero.twig" with {
            "backgrounds" : backgrounds,
            "heading" : heading,
            "body" : hero_body,
            "alignment" : alignment,
            "link_text" : link_text,
            "link_href" : link_href
        }
        %}
        {% include "@organisms/01-content-blocks/16-featured-events.twig" with {
            "events" : events
        } %}
        {% include '@organisms/01-content-blocks/17-photo-cta.twig' with {
            "cta_title" : cta_title,
            "cta_background" : cta_background,
            "ctas" : ctas
        } %}
        {% include "@molecules/02-blocks/07-give-block-full-width.twig" with {
            "give_to_full" : give_to_full,
            "give" : give
        } %}
    </div>
{% endblock %}
