{% extends "@pages/_article-base-template.twig" %}

{% block top_section %}
    <div class="content-area">
        <div class="column-wrapper">
            <div class="column-large-12 column-medium-12 column-small-12 column-xsmall-12">
                {% block breadcrumbs %}
                    {% include "@molecules/05-navigation/03-breadcrumb.twig" %}
                {% endblock %}
            </div>
            <div class="column-large-8 column-medium-8 column-small-12 column-xsmall-12">
                {% block title %}
                    {% include "@molecules/01-text/00-section-header.twig" with {
                        "title" : title
                    } %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block left_section %}
 <div class="column-large-12 column-medium-12 column-small-12 column-xsmall-12">
    <div class="column-wrapper">
        <div class="column-large-10 column-medium-10 column-small-12 column-xsmall-12">

            <div class="error-message-content">
                <h3>Sorry but the page you are trying to view does not exist.</h3>
                <p class="body-text-regular-18">It looks like this was the result of </p>

                <div class="padded-paragraph-group-wrapper">
                    <ul class="body-text-regular-18 custom-padded-list">
                        <li>A mistyped address</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="column-large-10 column-medium-12 column-small-12 column-xsmall-12">
            <div class="error-suggestion">
                <p class="body-text-medium-18">
                    Try searching for your pages at <a href="http://www.ucsf.edu/search" title="UCSF Search Page">http://www.ucsf.edu/search</a>
                </p>
            </div>
        </div>
    </div>
 </div>
{% endblock %}

{% block right_section %}
    {% block right_sidebar %}
    <div class="column-large-12 column-medium-12 column-small-6 column-xsmall-12">

    </div>
    {% endblock%}
{% endblock %}

{% block bottom_section %}
    {% include "@molecules/02-blocks/07-give-block-full-width.twig" %}
{% endblock %}

