{% extends "@pages/_base-page.twig" %}

{% block content %}
    <div class="contents--wrapper">
        {% block top_section %}

        {% endblock %}
        {% block middle_section %}

        {% endblock %}
        {% block bottom_section %}

		{% endblock %}
    </div>

{% endblock %}
