{% include "@organisms/00-global/header-style-2.twig" %}
<div class="contents--wrapper">
	{% include "@molecules/02-blocks/01-block-hero.twig" %}
	{% include "@molecules/08-messaging/00-alert.twig" %}
	{% include "@organisms/01-content-blocks/01-funding-priorities.twig" %}
	{% include "@organisms/01-content-blocks/00-ways-to-give.twig" %}
	{% include "@organisms/01-content-blocks/02-homepage-impact-stories.twig" %}
	{% include "@organisms/01-content-blocks/03-home-ankle.twig" %}
</div>
	{% include "@organisms/00-global/footer.twig" %}

<script>
	document.getElementsByTagName('body')[0].className+=' transparent';
</script>
