<h1>1 Column Page</h1>

{% include "02-organisms/00-global/header-style-2" %}
<div class="block block--impact-story-with-image background-color--{{ color }}" style="background-color: gray;">
    
</div>
<div class="content-area">
    <div class="column-wrapper">
        <div class="column-xsmall-12">
            <h3 class="text-align--center"><h1>1 Column Page</h1></h3>
        </div>
    </div>
    <div class="column-wrapper">
        <div class="column-large-12 column-medium-12 column-small-12 column-xsmall-12">
            <h4>Lorem Ipsum</h4>
            <p>Donec at porta nisl, gravida pharetra mi. Nullam pulvinar ligula massa, eu rhoncus dui pellentesque at. In hac habitasse platea dictumst. In lorem enim, iaculis quis fringilla nec, elementum sit amet eros. Mauris feugiat fermentum facilisis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas et ipsum at nisl euismod consequat. Fusce eget pretium nisi.</p>
            <h4>Lorem Ipsumn</h4>
            <p>Mauris semper purus vel ex iaculis congue. Donec quis fringilla eros, fermentum eleifend arcu. Quisque faucibus aliquam lacus, vitae laoreet enim cursus eu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Vestibulum porta ultricies semper. Integer ullamcorper nulla neque, nec bibendum ligula egestas nec.</p>
            <h4>Lorem Ipsumn</h4>
            <p>Donec at porta nisl, gravida pharetra mi. Nullam pulvinar ligula massa, eu rhoncus dui pellentesque at. In hac habitasse platea dictumst. In lorem enim, iaculis quis fringilla nec, elementum sit amet eros. Mauris feugiat fermentum facilisis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas et ipsum at nisl euismod consequat. Fusce eget pretium nisi.</p>
        </div>
    </div>
</div>
{% include "02-organisms/00-global/footer" %}
