{% include "@organisms/00-global/header-style-1.twig" %}
<div class="contents--wrapper">
	<div class="content-area">
		<div class="column-wrapper">
			<div class=" column-large-8 column-medium-8 column-small-12 column-xsmall-12">
					{% include "@molecules/02-blocks/03-block-header-landing-no-photo.twig" %}
			</div>
		</div>
	</div>
	<div class="content-area">
		<div class="column-wrapper">
			<div class=" column-large-8 column-medium-8 column-small-12 column-xsmall-12">
				{% include "@molecules/01-text/01-section-intro.twig" %}
				{% include "@organisms/01-content-blocks/04-ways-to-give-small.twig" %}
				<div class="block-honor-page-body">
					<h3 class="oxford-blue-text granjon-heading-text">How to Make Your Tribute Gift</h3>

					<ul class="htmytg-list">
						<li>Make your gift online.</li>
					</ul>
					<div class="non-list-item body-give-link">
						<a href="#" class="btn btn--primary-small">Give</a>
						<a href="#" class="btn btn--primary">Give</a>
					</div>
					<ul class="htmytg-list">
						<li>To send your gift by mail, please enclose a check payable to UCSF Foundation and a note regarding the gift to
			              the address below.
			         	</li>
			         </ul>
			  		<div class="non-list-item address">
			  			<address>
			  			<strong>UCSF</strong><br/>
						P.O. Box 45339<br/>
						San Francisco, CA 94145-0339<br/>
			  			</address>
			  		</div>
			  		<div class="non-list-item note">
			  			<p>
							<strong>In the note, please include the following:</strong><br>
							How you wish to designate your gift. View a list of UCSF giving opportunities.
							Whether the contribution is in honor or memory of someone. Plaese include their name so that we can notify them of your gift. UCSF will not share the amount of the contribution.
						</p>
					</div>
				</div>

				{% include "@molecules/02-blocks/06-block-story-nugget.twig" %}

			</div>

			<div class="column-large-3 column-large-offset-1 column-medium-4 column-small-12 column-xsmall-12">
				<div class="ways-to-give-form-small sidebar">
					{% if give_ways_content.small %}

						<h4>{{ give_ways_content.small.heading }}</h4>

						{% if give_ways_content.small.body %}
							<p>{{ give_ways_content.small.body }}</p>
						{% endif %}
						<form name="ways-to-give" id="give" method="GET" action="">
							<div class="ways-to-give-options--wrapper ">
						      <div class="ways-to-give-option" role="button">
						            <input type="radio" name="give-value" id="give_value_50" value="50" />
						            <label for="give_value_50">$50</label>
						        </div>
						         <div class="ways-to-give-option" role="button">
						            <input type="radio" name="give-value" id="give_value_100" value="100" checked="true"/>
						            <label for="give_value_100">$100</label>
						        </div>
						        <div class="ways-to-give-option" role="button">
						            <input type="radio" name="give-value" id="give_value_200" value="200" />
						            <label for="give_value_200">$200</label>
						        </div>
						         <div class="ways-to-give-option" role="button">
						            <input type="radio" name="give-value" id="give_value_500" value="500" />
						            <label for="give_value_500">$500</label>
						        </div>
						        <div class="ways-to-give-option" role="button">
						            <input type="radio" name="give-value" id="give_value_other" value="other" />
						            <div class="others-dollar-label"><span>$</span> <span class="label-text">Others</span></div>
						            <input class="give-value-other-input"type="text" name="give-value-other" />
						        </div>
						        <div class="ways-to-give-option submit-btn" role="button">
						           <button class="btn btn--primary" type="submit">Make a gift</button>
						        </div>
							</div>
						</form>
					{% endif %}
				</div>
				{% include "@molecules/02-blocks/05-block-contact-us.twig" %}
			</div>
		</div>
	</div>
</div>
{% include "@organisms/00-global/footer.twig" %}
