<section class="sample-list">
  <div class="sample-list--items">
    <h3>Inline List</h3>
    <ol class="list--inline">
      <li>List Item 1</li>
      <li>List Item 2</li>
      <li>List Item 4</li>
    </ol>
  </div>
  <div class="sample-list--items">
    <h3>Unstyled List</h3>
    <ol class="list--unstyled">
      <li>List Item 1</li>
      <li>List Item 2</li>
      <li>List Item 4</li>
    </ol> 
  </div>
  <div class="sample-list--items">
    <h3>BLock List</h3>
    <ol class="list--block">
      <li>List Item 1</li>
      <li>List Item 2</li>
      <li>List Item 4</li>
    </ol>
  </div>
  <div class="sample-list--items">
    <h3>Grid List</h3>
    <ol class="list--grid">
      <li>List Item 1</li>
      <li>List Item 2</li>
      <li>List Item 4</li>
    </ol>
  </div>
</section>







