<section class="grid-sample">
    <h3>Grid in fix width</h3>
    <div class="content-area">
        <div class="column-wrapper">
            <div class="column-xsmall-12 column-small-6 column-medium-6 column-large-3">
                column-xsmall-12 <br />
                column-small-6 <br />
                column-medium-6 <br />
                column-large-3
            </div>
            <div class="column-xsmall-12 column-small-6 column-medium-6 column-large-3">
                column-xsmall-12 <br />
                column-small-6 <br />
                column-medium-6 <br />
                column-large-3
            </div>
            <div class="column-xsmall-12 column-small-6 column-medium-6 column-large-3">
                column-xsmall-12 <br />
                column-small-6 <br />
                column-medium-6 <br />
                column-large-3
            </div>
            <div class="column-xsmall-12 column-small-6 column-medium-6 column-large-3">
                column-xsmall-12 <br />
                column-small-6 <br />
                column-medium-6 <br />
                column-large-3
            </div>
        </div>
    </div>
</section>
<section class="grid-sample">
    <h3>Grid in fix width</h3>
    <div class="content-area content-area--fluid">
        <div class="column-wrapper">
            <div class="column-xsmall-12 column-small-6 column-medium-6 column-large-3">
                column-xsmall-12 <br />
                column-small-6 <br />
                column-medium-6 <br />
                column-large-3
            </div>
            <div class="column-xsmall-12 column-small-6 column-medium-6 column-large-3">
                column-xsmall-12 <br />
                column-small-6 <br />
                column-medium-6 <br />
                column-large-3
            </div>
            <div class="column-xsmall-12 column-small-6 column-medium-6 column-large-3">
                column-xsmall-12 <br />
                column-small-6 <br />
                column-medium-6 <br />
                column-large-3
            </div>
            <div class="column-xsmall-12 column-small-6 column-medium-6 column-large-3">
                column-xsmall-12 <br />
                column-small-6 <br />
                column-medium-6 <br />
                column-large-3
            </div>
        </div>
    </div>
</section>

<section class="grid-sample">
    <h3>Grids</h3>
    <p>
        <b>No. of columns</b> - 12 <br />
        <b>Gutter</b> - 10px each side <br />
    </p>
</section>