<div class="search-page-form">
    <form name="search-form" action="" method="">
        <div class="search-form-group">
            <label class="visually-hidden" for="searchPageInput"><span>Search</span></label>
            <input type="text" name="search" id="searchPageInput">
        </div>
        <button class="btn btn--secondary" type="submit">Search</button>
    </form>
</div>
