<section class="section-body">
    <div class="font-type">
        <div class="font-sample">
          <h2 class="headline">Granjon LT - Regular</h2>
          <p><strong>Web Font Name:</strong> granjon</p>
          <p><strong>Font Family:</strong> granjon, Georgia, TimesNewRoman, "Times New Roman", Times, serif</p>
          <p><strong>SCSS Variable:</strong> $text-headline</p>
        </div>
    </div>
</section>