<section class="section-body">
    <div class="font-type">
        <div class="font-sample">
          <h2 class="text-body text-body--light">Helvetica Neue - Light</h2>
          <p><strong>Web Font Name:</strong> HelveticaNeue-light</p>
          <p><strong>Font Family:</strong> HelveticaNeue-light, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif</p>
          <p><strong>SCSS Variable:</strong> $text-body--light</p>
        </div>
        
        <div class="font-sample">
          <h2 class="text-body">Helvetica Neue - Regular</h2>
          <p><strong>Web Font Name:</strong> HelveticaNeue-regular</p>
          <p><strong>Font Family:</strong> HelveticaNeue-regular, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif</p>
          <p><strong>SCSS Variable:</strong> $text-body--regular</p>
        </div>
        <div class="font-sample">
          <h2 class="text-body text-body--medium">Helvetica Neue - Medium</h2>
          <p><strong>Web Font Name:</strong> HelveticaNeue-medium</p>
          <p><strong>Font Family:</strong> HelveticaNeue-medium, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif</p>
          <p><strong>SCSS Variable:</strong> $text-body--medium</p>
        </div>
        <div class="font-sample">
          <h2 class="text-body text-body--bold">Helvetica Neue - Bold</h2>
          <p><strong>Web Font Name:</strong> HelveticaNeue-bold</p>
          <p><strong>Font Family:</strong> HelveticaNeue-bold, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif</p>
          <p><strong>SCSS Variable:</strong> $text-body--bold</p>
        </div>
    </div>
</section>