/*** Footer ***/

footer{
    /*height: 340px;*/

    background-color: $color--oxford-blue;
    color: $color--white;
    padding-top: 30px;

    a{
        color: $color--white;
        text-decoration: none;
    }

    .footer--upper{
        padding-bottom: 30px;
        .footer--logo{
            height: auto;
        }
    }

    .footer--column-title{
        font-family: $text-body--bold;
        color: $color--white;
        text-transform: uppercase;
        border-bottom: 1px $color--white solid;
        padding: 13px 0;
    }

    .footer--column-content{
        margin-bottom: 20px;
        p{
            &:first-child{ margin-top: 0; }
            &:last-child{ margin-bottom: 0; }
        }
        &.text-color--dark-gray{
            p, a{
                color: $color--dark-gray;
            }
        }
    }

    .footer--column-links{
        color: $color--dark-gray;
        a{
            @include type-definition(12px, 1.67);
            font-family: $text-body--regular;
            color: $color--dark-gray;
        }
        ul, ol{
            padding: 0;
            margin: 0;
        }
    }
    .footer--copyright{
        font-family: $text-body--regular;
        @include type-definition(12px);
        .column-wrapper {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .footer--copyright-wrapper {
            border-top: 1px $color--white solid;
            padding: 15px 0px;
            margin-left: 15px;
            margin-right: 15px;
        }
        .footer--copyright-links{
            float: right;
            .footer--copyright-link-item{
                float: left;
                margin-right: 30px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    .footer--social-link-item{

        float: left;
        background-color: $color--white;
        @include border-radius(50%);
        @include transition(all 200ms linear);
         &:hover {
            background-color: $color--light-blue;
         }
        a{
            color: $color--oxford-blue;
            text-align: center;
            display: block;
            padding: 11px;
        }
    }

    .footer--colum-content, .footer--column-links{
        margin-bottom: 30px;
    }
}

@media (max-width: $bp--small-up){
    footer{
        padding-top: 20px;
        &.content-area{
            padding-left: 15px;
            padding-right: 15px;
        }

        .footer--column-title, .footer--column-links a{
            @include type-definition(16px, 1.625);
        }
        .footer--column-title{
            padding: 0;
            padding-bottom: 7px;
            margin-bottom: 17px;
        }
        .footer--column-content{
            p{
                @include type-definition(14px, 1.428);
            }
        }

        .footer--column-links{
            .list--unstyled{
                float: none;
                width: 100%;
                li{
                    &:last-child{
                        margin: 0;
                    }
                }
            }
        }
        .footer--social-link-item{
            height: 52px;
            width: 52px;
            margin-right: 30px;
            font-size: 30px;
        }
        .footer--copyright{
            .footer--copyright-left{
                float: none;
            }
            .footer--copyright-links{
                @include type-definition(16px, 1.375);
                padding-top: 15px;
                margin-bottom: 20px;
                .footer--copyright-link-item{
                    margin-right: 0;
                    width: 50%;
                    padding-right: 25px;
                }
            }
                .footer--copyright{
                    .footer--copyright-wrapper {
                        border-top: 1px $color--white solid;
                        padding: 15px 15px;
                        margin-left: 0px;
                        margin-right: 0px;
                    }
                }
            .footer--copyright-right, .footer--copyright-links{
                 float: none;
                 width: 100%;
                 display: table;
            }
            .footer--copyright-text{
                @include type-definition(14px, 1.428);
            }
        }
    }
}

@media (min-width: $bp--small-up){
    footer{
        .footer--upper{
            .footer--logo{
                width: 48px;;
            }
        }
        .footer--social-link-item{
            height: 30px;
            width: 30px;
            margin-right: 10px;
            font-size: initial;
            a{
                padding: 7px;
            }
        }
        .footer--column-title{
            @include type-definition(12px, 1);
            margin-bottom: 10px;
        }
        .footer--column-content{
            p{
                @include type-definition(12px, 1.67);
            }
        }
        .footer--copyright{
            .footer--copyright-left{
                float: left;
            }
            .footer--copyright-right{
                float: right;
            }
        }
        .footer--column-links{
            .list--unstyled{
                width: 50%;
                float: left;
            }
        }
    }
}

@media (min-width: $bp--medium-up ) {
    footer {
        .footer--copyright{
            .footer--copyright-wrapper {
                padding: 15px 0px;
            }
        }
    }
}

@media (min-width: $bp--large-up){
    footer{
        .footer--upper{
            .footer--logo{
                width: 70px;
            }
        }
    }
}
