/*** Lists ***/


/* List item */
ul, ol{
  li {
    margin-bottom: 10px;
  }
}

/* Remove vertical spacing from nested lists. */
li > ul, li > ol {  margin-bottom: 0; }

li > ul, li > ol {  margin-top: 10px; }

.numbered-list { list-style-type: decimal; }

/* Inline List */
.list--inline {
  list-style: none;
  margin-left: 0;
  > li{
    display: inline;
    margin-right: 12px;
    margin-right: 0.85714rem;
  }
}

/* Inline List */
.list--unstyled {
  list-style: none;
  margin-left: 0;
}

/* Block list */
.list--block {
  list-style: none;
  margin-left: 0;
  > li {
    border-bottom: 1px #BFBFBF solid;
    padding: 12px 0;
    margin: 0;
  }
}

/* Grid list */
.list--grid {
  list-style: none;
  margin-left: 0;
  font-size: 0;
  > li {
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.71429;
  }
}

/* Custom list */
.no-style {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}
