html {
	&.mobile-nav-open {
		.nav--wrapper {
			overflow: auto;
		}
	}
}

.transparent {
	.nav--wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		& ~ .contents--wrapper {
			margin-top: 108px;
		}
	}
}

@media screen and (max-width: $bp--small-max) {
	.transparent {
		.nav--wrapper {
			position: fixed;
		}
	}
}

@media screen and (max-width: $bp--xsmall-max) {
	.transparent {
		.nav--wrapper {
			position: fixed;
		}
	}
}

.nav--wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1030;
	width: 100%;
	height: auto;
	max-height: 100%;
	display: block;
	clear:both;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	@include transition(box-shadow 250ms ease);
}

.nav--wrapper {
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
	&.scrolling {
		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
	}
	& ~ .contents--wrapper {
		margin-top: 108px;
	}
}
/**
 * 00 NAV GLOBAL START
 */

.nav-global--wrapper {
  background-color: $color--oxford-blue;
  display: block;
  width: 100%;
  .nav-global {
  	  min-height: 48px;
  	  height: auto;
  	  position: relative;
  	  .nav-brand {
  	  	display: inline-block;
  	  	a {
			color: $color--white;
			text-decoration: none;
	  	  	.nav-logo {
	  	  		display: inline-block;
	  	  		margin-right: 4px;
	  	  	}
	  	  	.nav-title {
				font-family: $text-body--regular;
				font-size: 12px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: 3.9;
				display: inline-block;
	  	    }
  		}
  	  }
	.nav-link-list {
		display: none;
		margin: 0px;
		padding: 0px;
		list-style: none;
		& > li {
			margin: 0px;
			padding: 0px;
			a {
				&:hover {
					text-decoration: underline;
					&.search-advanced-form-toggle {
						text-decoration: none;
					}
				}
			}
		}
	}
  }
}

.search-box--wrapper {
	display: block;
    float: left;
    padding: 8px 10px;
    // position: relative;
	 .search-field--wrapper {
	 	display: block;
	 	width: 199px;
	 	position: relative;
		height: 24px;
		border-radius: 2px;
		font-size: 12px;
		border: solid 1px $color--white;
		background-color: $color--oxford-blue;
		font-family: $text-body--regular;
		color: $color--white;
		float: left;
		.placeholder {
		    display: block;
		    font-size: 12px;
		    position: absolute;
		    left: 10px;
		    top: 4px;
		    z-index: 0;
		}
		input[type="text"] {
			background-color: transparent;
			font-family: $text-body--regular;
    		font-size: 12px;
			color: $color--white;
			outline: none;
			border: 0px;
			width: 85%;
    		height: 100%;
    		padding-left: 10px;
    		position: relative;
    		z-index: 1;
			&:focus {
				outline: none;
			}
		}
		.search-icon {
		    float: right;
		    width: 15%;
		    height: 100%;
		    padding: 4px 0px;
		    display: inline-block;
		    text-align: center;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		    border: none;
		    background-color: $color--oxford-blue;
		    color: $color--white;
		    &:focus {
		    	outline: none;
		    }
		}
	}
	.search-advanced-form {
	  min-width: 307px;
	  width: auto;
	  height: 50px;
	  background-color: $color--light-gray;
	  position: absolute;
	  top: 40px;
      right: 0px;
      z-index: 1031;
      padding: 2px 22px;
      display: none;
      &.open {
      	display:block;
      }
	}
}

.search-advanced-form-toggle {
	margin-top: 8px;
	font-family: $text-body--regular;
	color: $color--white;
	font-size: 12px;
	float: left;
	width: 102px;
	height: 24px;
	border-radius: 2px;
	background-color: $color--light-blue;
	border: solid 1px $color--light-blue;
	text-align: center;
	text-decoration: none;
	@include transition(all 250ms ease-in-out);
	&:hover {
		background-color: $color--oxford-blue;
		border: solid 1px $color--oxford-blue;
		text-decoration: none;
	}
}

.search-advanced-form {
	// display: none;
	label {
		display: inline-block;
		font-family: $text-body--regular;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		color: $color--black;
		vertical-align: middle;
		padding: 5px 5px 5px 0;
		line-height: 2.9;
		margin-right: 22px;
	}
	.advanced-form-close-button {
		// background: url(/images/x-icon.png) no-repeat center;
		width: 25px;
		height: 25px;
		position: absolute;
		right: 15px;
    	top: 12px;
    	cursor: pointer;
    	padding: 2px;
    	text-align: center;
	}
}

.radio-circle {
	position: relative;
	width: 22px;
	height: 22px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border: solid 1px $color--black-2;
    border-radius: 100px;
	text-align: center;
	padding: 4px 0px;
	input[type="radio"] {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 0;
	}
	.radio-ui {
		color: $color--white;
		display: none;
		font-size: 12px;
	}
	&.checked {
		background: $color--light-blue;
		border-color: $color--light-blue;
		.radio-ui {
			display: block;
		}
		&.hover {
			border-width: 1px;
		}
	}
	&.hover {
		border-width: 2px;
		border-color: $color--light-blue;
	}
}

@media screen and (min-width: $width-medium) {
	.transparent {
		.nav--wrapper {
			box-shadow: none;
			& ~ .contents--wrapper {
				margin-top: 40px;
			}
		}
	}

	.nav--wrapper {
		box-shadow: none;
		& ~ .contents--wrapper {
			margin-top: 145px;
		}
	}
	.nav-global--wrapper {
		.nav-global {
			min-height: 40px;
			height: auto;
			position: relative;
			.nav-brand {
				a {
					.nav-logo {
					display: none;
					}
					.nav-title {
						font-weight: normal;
						line-height: 3.345;
					}
				}
			}
			.nav-link-list {
				display: block;
				float: right;
				& > li {
					padding: 0px;
					float: left;
					display: block;
					& > a {
						color: $color--white;
						font-family: $text-body--regular;
						font-size: 12px;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						text-decoration: none;
						padding: 13px 10px;
						display: block;
					}
					& > .search-advanced-form-toggle {
						padding: 5px 0px ;
					}
				}
			}
		}
	}
}

/**
 * 00 NAV GLOBAL END
 */


/**
 * 01 NAV MAIN START
 */

.nav-main--wrapper {
  background-color: $color--white;
  display: block;
  width: 100%;
  .nav-main {
  	height: 60px;
  	padding: 0px;
  	.nav-main-brand {
		display: inline-block;
		padding: 17.5px 0px;
	  	a {
			color: $color--oxford-blue;
			text-decoration: none;
		  	.nav-logo {
		  		display: none;
		  		vertical-align: middle;
		  	}
		  	.nav-site-title {
				font-family: $text-body--bold;
				font-size: 20px;

		  	}
		}
	}
	.nav-mobile-toggles {
		display: block;
		list-style: none;
		padding: 0px;
		margin: 0px;
		float: right;
		& > li {
			display: block;
			margin: 0px;
			float: left;
			& > button {
				line-height: 43px;
				color: $color--oxford-blue;
				text-decoration: none;
				font-size: 26px;
				margin-top: 7px;
				margin-right: 1em;
				padding: 0px;
				background-color: transparent;
			    outline: none;
			    border: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				-ms-appearance: none;
				-o-appearance: none;
				appearance: none;
				cursor: pointer;
			}
			&:last-child {
				& > button {
					margin-right: 0px;
				}
			}
		}

	}
	.nav-main-links {
		list-style: none;
		padding: 0px;
		margin: 0px;
		float: right;
		display: none;
		position: relative;
		& > li {
			padding: 0px;
			margin: 0px;
			position: relative;
			& > a {
				position: relative;
			}
			.dropdown-menu {
				list-style: none;
				padding: 0px;
				margin: 0px;
				& > li {
					margin: 0px;
					& > a {
						display: block;
						text-decoration: none;
					}
				}
			}
		}
	}
  }
}

@media screen and (min-width: $width-medium) {
	.transparent {
		.nav--wrapper {
			.nav-main--wrapper {
				background-color: transparent;
	  			background-color: rgba(0,0,0,0);
				.nav-main {
					a {
						color: $color--white;
					}
					.nav-main-links {
						& > li {
							& > a {
								color: $color--white;
								&:hover {
									color: $color--oxford-blue;
									&.header-give-btn {
										color: $color--white;
									}
								}
							}
							&:hover {
								a {
									color: $color--oxford-blue;
									&.header-give-btn {
										color: $color--white;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.nav-main--wrapper {
	  background-color: $color--white;
	  display: block;
	  width: 100%;
		.nav-main {
		  padding: 20px 0px;
	  	  height: auto;
	  	   .nav-main-brand {
	  	  	padding: 0px;
			display: inline-block;
			  	a {
					color: $color--oxford-blue;
					text-decoration: none;
				  	.nav-logo {
				  		display: inline-block;
				  		margin-right: 10px;
				  		vertical-align: middle;
				  	}
				  	.nav-site-title {
						font-family: $text-body--light;
						font-size: 35px;
						font-weight: 300;
						font-style: normal;
						font-stretch: normal;
						display: inline-block;
						padding-top: 16px;
						vertical-align: middle;
				    }
				}
			}
			.nav-mobile-toggles {
				display: none;
			}
			.nav-main-links {
				float: right;
				display: block;
				margin-top: 25px;
				& > li {
					float: left;
					display: block;
					&:hover {
						a {
							background-color: $color--light-gray-2;
							color: $color--oxford-blue;
							&.header-give-btn {
								background-color: $color--orange-2;
								color: $color--white;
								span {
									color: $color--white;
								}
							}
						}
						.line {
							display: block;
						}
						.dropdown-menu {
							display: block;
						}
					}
					& > a {
						color: $color--oxford-blue;
						font-family: $text-body--regular;
						font-size: 16px;
						display: inline-block;
						padding: 0.75em 1em;
						height: 40px;
						text-decoration: none;
						border-radius: 2px;
						&.header-give-btn {
							width: auto;
		   					border-radius: 2px;
		   					color: $color--white;
		   					font-weight: bold;
		   					margin-left: 10px;
						}
					}
					.line {
						background-color: $color--light-gray-2;
					    position: absolute;
					    bottom: 0px;
					    left: 0;
					    right: 0;
					    margin: 0 auto;
					    width: 100%;
					    height: 2px;
					    display: none;
					    span {
					    	content: "";
						    position: relative;
						    width: 75%;
						    height: 2px;
						    background-color: #050249;
						    display: block;
						    margin: 0 auto;
					    }
					}
					.dropdown-menu {
						display: none;
						background-color: $color--light-gray-2;
						padding: 0.75em 0px;
						width: auto;
						min-width: 210px;
						position: absolute;
					    top: 40px;
					    left: 0px;
					    z-index: 1031;
					    width: auto;
						& > li {
							& > a {
								color: $color--oxford-blue;
								font-family: $text-body--regular;
								font-size: 16px;
								padding: 0.5em 1em;
								&:hover {
									color: $color--light-blue;
								}
							}
						}
					}
				}
			}
		}
	}
}

/**
 * 01 NAV MAIN END
 */



/**
 * 01 NAV MAIN SEARCH START
 */

.nav-main-mobile-search {
	position: absolute;
	background-color: $color--light-gray;
	display: none;
	padding-bottom: 20px;
	&.open {
		display: block;
		position: relative;
		zoom: 1;
	}
	.mobile-search-field--wrapper {
		position: relative;
		height: auto;
		padding: 25px 0px;
		padding-bottom: 10px;
		width: 100%;
		.mobile-field-ui {
			background-color: $color--white;
			width: 100%;
			height: auto;
			position: relative;
			input[type="text"] {
				display: block;
			    border: none;
			   	height: 55px;
				padding: 16px 20px;
			    width: 93%;
			    font-family: $text-body--regular;
  				font-size: 18px;
  				color: $color--black;
  				position: relative;
  				z-index: 0;
  				background-color: transparent;
  				background-color: rgba(0,0,0,0);
  				&:focus {
  					outline: none;
  				}

			}
			.placeholder {
				position: absolute;
				top: 17px;
				left: 20px;
				font-family: $text-body--regular;
  				font-size: 18px;
  				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				color: $color--black;
				z-index: 0;
			}
			.search-icon {
				position: absolute;
			    right: 18px;
			    top: 16px;
			    font-size: 20px;
			    z-index: 1;
			}
		}
	}
	.mobile-search-advanced-form {
		.mobile-search-option {
			padding: 10px 0px;
			.radio-circle {
				width: 30px;
				height: 30px;
				padding: 6px 0px;
				margin-right: 6px;
				.radio-ui {
					font-size: 16px;
				}
			}
			label {
				font-family: $text-body--regular;
				font-size: 18px;
				vertical-align: middle;
			    margin-top: 1px;
			    display: inline-block;
			}
		}
	}
	.mobile-search-submit--wrapper {
		padding: 10px 0px 0px;
		position: relative;
		display: block;
		.search-submit {
			width: 100%;
		}
	}
}

/**
 * 01 NAV MAIN SEARCH END
 */


/**
 * 01 NAV MAIN MOBILE START
 */

.nav-main-mobile {
	position: absolute;
	background-color: $color--light-gray;
	display: none;
	max-height: 0px;
	&.open {
		display: block;
		position: relative;
		zoom: 1;
		overflow: hidden;
		max-height: 3000px;
	}
	ul {
		margin: 0px;
		padding: 10px 0px;
		list-style: none;
		li {
			display: block;
			width: 100%;
			margin: 0px;
			a {
				display: inline-block;
				width: 100%;
				color: $color--oxford-blue;
				text-decoration: none;
			}
		}
		& > li {
			position: relative;
			&.active {
				& > a {
					color: $color--light-blue;
				}
			}
			& > a {
				position: relative;
				padding: 13px 0px;
				padding-right: 56px;
				font-family: $text-headline;
				font-size: 25px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
			}
			.display-arrow {
				position: absolute;
				right: 4px;
				padding: 20px 0px;
				top: 0px;
				cursor: pointer;
				-webkit-transform: rotate(0deg);
			    -moz-transform: rotate(0deg);
			    -o-transform: rotate(0deg);
			    -ms-transform: rotate(0deg);
			    transform: rotate(0deg);
				-webkit-transition: all 250ms ease-in-out;
				-moz-transition: all 250ms ease-in-out;
				-ms-transition: all 250ms ease-in-out;
				-o-transition: all 250ms ease-in-out;
				transition: all 250ms ease-in-out;
				&.active {
					color: $color--light-blue;
					-webkit-transform: rotate(90deg);
				    -moz-transform: rotate(90deg);
				    -o-transform: rotate(90deg);
				    -ms-transform: rotate(90deg);
				    transform: rotate(90deg);
				}
			}
			.dropdown-menu {
				margin: 0px;
				display: none;
				&.open {
					display: block;
				}
				& > li {
					margin: 0px;
					& > a {
						font-family: $text-body--light;
						font-size: 18px;
						padding: 10px 0px;
						padding-left: 54px;
						padding-right: 50px;
						font-style: normal;
						font-stretch: normal;
						text-align: left;
					}
				}
			}
		}
	}
}

/**
 * 01 NAV MAIN MOBILE END
 */

@media screen and (min-width: $width-medium) {
	.nav-main-mobile, .nav-main-mobile-search {
		display: none;
		&.open {
			display: none;
		}
	}
}

.breadcrumb {
	display: inline-block;
    width: 100%;
    padding: 10px 0px;
    margin-top: 20px;
	ul, ol {
		list-style: none;
		padding: 0px;
		margin: 0px;
		& > li {
			display: none;
			padding: 0px;
			margin: 0px;
			font-size: 23px;
			vertical-align: middle;
			float: left;
			&:last-child {
				display: inline-block;
				&::before {
					content: "\f104";
					color: $color--oxford-blue;
					margin-right: 15px;
				}
				&::after {
					display: none;
				}
				& > a {
					color: $color--oxford-blue;
				}
			}
			&::before, &::after {
				display: inline-block;
			    font: normal normal normal 14px/1 FontAwesome;
			    font-size: inherit;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
				vertical-align: middle;
			}
			&::after {
				display: none;
				content: "\f105";
				color: $color--dark-gray;
				margin-left: 20px;
				margin-right: 20px;
			}
			& > a {
				font-family: $text-body--bold;
				color: $color--dark-gray;
				font-size: 18px;
				margin-top: 2px;
			    vertical-align: middle;
			    display: inline-block;
			    text-transform: uppercase;
			}
		}
	}
	&.back-to-page {
		ul, ol {
			& > li {
				&::before {
					content: "\f104";
					color: $color--dark-gray;
					display: inline-block;
				}
			}
		}
	}
}

@media screen and (min-width: $width-small) {
	.breadcrumb {
		ul, ol {
			& > li {
				display: inline-block;
				font-size: 28px;
				&:last-child {
					&::before {
						display: none;
					}
				}
				&::after {
					display: inline-block;
				}
				a {
					font-family: $text-body--medium;
					font-size: 15px;
					margin-top: 3px;
				}
			}
		}
		&.back-to-page {
			ul, ol {
				& > li {
					&::before {
						display: inline-block;
					}
				}
			}
		}
	}
}

@media screen and (min-width: $width-medium) {
	.breadcrumb {
		margin-top: 0px;
		ul, ol {
			& > li {
				display: inline-block;
				font-size: 28px;
				&:last-child {
					&::before {
						display: none;
					}
				}
				&::after {
					display: inline-block;
				}
				a {
					font-family: $text-body--medium;
					font-size: 15px;
					margin-top: 3px;
				}
			}
		}
		&.back-to-page {
		ul, ol {
				& > li {
					&::before {
						display: inline-block;
					}
				}
			}
		}
	}
}


@media screen and (min-width: $width-large) {
	.breadcrumb {
		ul, ol {
			& > li {
				display: inline-block;
				font-size: 28px;
				&:last-child {
					&::before {
						display: none;
					}
				}
				&::after {
					display: inline-block;
				}
				a {
					font-family: $text-body--medium;
					font-size: 15px;
					margin-top: 3px;
				}
			}
		}
		&.back-to-page {
			ul, ol {
				& > li {
					&::before {
						display: inline-block;
					}
				}
			}
		}
	}
}

nav {
	&.pager {
		display: inline-block;
		width: 100%;
		margin-bottom: 50px;
		&.pager--items {
			display: inline-block;
			width: 100%;
		}
	}
}


ul {
	&.pager__items {
		margin: 0px;
	    padding: 0px;
	    list-style: none;
	    & > li, .pager__item {
	    	float: left;
	    	margin: 0px;
	    	margin-right: 10px;
	    	margin-bottom: 10px;
	    	& > a {
	    		min-width: 28px;
	    		width: auto;
				height: 30px;
				padding: 7px 10px;
				font-size: 12px;
				font-family: $text-body--medium;
				border: solid 1px $color--light-blue;
				display: block;
				text-decoration: none;
				&:hover {
					color: $color--white;
					background-color: $color--oxford-blue;
					border-color: $color--oxford-blue;
				}
	    	}
	    	&.is-active {
	    		& > a {
	    			background-color: $color--light-gray;
	    			&:hover {
						color: $color--white;
						background-color: $color--oxford-blue;
						border-color: $color--oxford-blue;
					}
	    		}
	    	}
	    	&.pager__item--ellipsis {
	    		color: $color--oxford-blue;
	    		border: 0px solid transparent;
	    		font-family: $text-body--medium;
	    		font-size: 17px;
	    		min-width: 0px;
	    		width: auto;
				height: 30px;
				&.ellipsis-next {
					padding: 2px 0px;
					margin: 0px;
				}
				.ellipsis-prev {
					padding: 2px 0px;
					margin-right: 10px;
				}
	    	}
	    	&.pager--nav {
	    		a {
	    			padding: 2px 10px;
	    			.pager_item_text {
	    				display: inline-block;
					    vertical-align: middle;
					    margin-top: 2px;
	    			}
	    			.fa {
			    		font-size: 22px;
					    display: inline-block;
					    vertical-align: middle;
			    	}
	    		}
	    	}
	    	&.pager__item--first {
	    		margin-right: 0px;
				.pager_item_text {
					margin-left: 6px;
				}
				.fa-angle-left ~ .fa-angle-left{
					margin-left: -4px;
				}
	    	}
	    	&.pager__item--previous {
	    		margin-left: 15px;
	    		margin-right: 15px;
				.fa-angle-left {
					margin-right: 6px;
				}
	    	}
	    	&.pager__item--next {
	    		margin-left: 15px;
	    		margin-right: 15px;
				.fa-angle-right {
					margin-left: 6px;
				}
	    	}
	    	&.pager__item--last {
	    		margin-right: 0px;
				.pager_item_text {
					margin-right: 6px;
				}
				.fa-angle-right {
					&:last-child {
						margin-left: -4px;
					}
				}
	    	}
	    }
	}
}


ul{
	&.category-nav {
		list-style: none;
		padding: 0px;
		margin: 0px;
		display: inline-block;
		width: 100%;
		& > li {
			float: left;
			margin: 0px;
			margin-bottom: 20px;
			margin-left: 20px;
			&:first-child {
				margin-left: 0px;
			}
			a {
				display: block;
			}
		}
	}
}

@media screen and (min-width: $width-small) {
	ul{
		&.category-nav {
			display: inline-block;
			width: 100%;
			& > li {
				margin-bottom: 0px;
				margin-left: 10px;
				a {
					display: block;
				}
			}
		}
	}
}


@media screen and (min-width: $width-medium) {
	ul{
		&.category-nav {
			margin-bottom: 20px;
		}
	}
}


@media screen and (min-width: $width-large) {
	ul{
		&.category-nav {
			margin-bottom: 20px;
		}
	}
}

