<div class="block block--impact-story-with-image background-color--{{ color }}" style="background-image: url({{ image }});">
    <div class="block--content">
        <div class="content-area">
            <div class="column-large-12">
                <h2>{{ text }}</h2>
            </div>
        </div>
    </div>
</div>