<div class="block--share-btns">
	<a class="article-share-btn facebook" href="#" title="Share this article on Facebook">
		<span class="visually-hidden">Share this article on Facebook</span>
		<i class="fa fa-facebook-official" aria-hidden="true"></i>
	</a>
	<a class="article-share-btn twitter" href="#" title="Share this article on Twitter">
		<span class="visually-hidden">Share this article on Twitter</span>
		<i class="fa fa-twitter" aria-hidden="true"></i>
	</a>
	<a class="article-share-btn linkedin" href="#" title="Share this article on LinkedIn">
		<span class="visually-hidden">Share this article on LinkedIn</span>
		<i class="fa fa-linkedin" aria-hidden="true"></i>
	</a>
	<a class="article-share-btn google-plus" href="#" title="Share this article on Google Plus">
		<span class="visually-hidden">Share this article on Google Plus</span>
		<i class="fa fa-google-plus" aria-hidden="true"></i>
	</a>
</div>
