<div class="block-quote-custom">
	<div class="quote">
	  <span class="open-quote">&ldquo;</span>
	  	{{ quote|raw }}
	  <span class="close-quote">&rdquo;</span>
	</div>
	<div class="from">
		{{ from|raw }}
	</div>
</div>
