<div class="accordion-item">
	<div class="accordion-header" role="button">
		<div class="question">
			<div class="icon"><span class="fa fa-angle-right"></span></div>
			<p class="text">{{ accordion_item_header }}</p>
		</div>
	</div>
	<div class="accordion-content">
		<div class="accordion-data--wrapper">
			<div class="column-wrapper">
				<div class="column-large-9 column-medium-10 column-small-12 column-xsmall-12">
					{{ accordion_item_body|raw }}
				</div>
			</div>
		</div>
	</div>
</div>
